[Desktop Entry]
Encoding=UTF-8
Name=Oblivion
Comment=Desktop allet for Oblivion Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Oblivion
Exec=oblivion-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/oblivion128.png
MimeType=x-scheme-handler/oblivion;
Categories=Office;Finance;
StartupWMClass=Oblivion-qt
